reset page
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 body {
  background: #f2d8c7;
  font-family: 'Inter', Arial, sans-serif;
  color: #23180d;
  padding: 40px;
  
}

.main-layout {
  display: flex;
  align-items: flex-start;
  gap: 48px; 
  max-width: 900px;
  margin: 40px auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 5px rgba(76, 73, 73, 0.27);
  padding: 48px;
}
/* Colonne des desserts */
/* .desserts-column {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 2;
} */


/* Produit individuel */
.Product {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 8px rgba(80, 62, 38, 0.06);
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.img-container {
  /* position: absolute; */
  width: 260px;
  height: 140px;
  margin-bottom: 12px;
}

.img {
  width: 240px;
  height: 190px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #f0c;
  /* display: block; */
}
.main-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 18px;
  color: #23180d;
}

 .content-text {
  text-align: center;
  margin-bottom: 10px;
}
.category {
  /* font-weight: bold; */
  color: #797979;
  margin-bottom: 1px;
}
.name {
  margin-bottom: 2px;
  font-weight: bold;
}
.price {
  color: #a04c08;
  font-weight: bold;
}
.add {
 padding: 7px 18px;
  border: 1px solid #d7a86e;
  border-radius: 22px;
  font-weight: bold;
  cursor: pointer;
   
  }

.add:hover {
  background: #8d0000ca;
  color: #ffffff;
}
/* Panier */

.total {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.price {
  color: #a04c08;
}
.confirm {
  background: #a04c08;
  color: #fff;
  border: none;
  border-radius: 22px;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.confirm:hover {
  background: #b26e2c;
}


/* Responsive
@media (max-width: 900px) {
  .main-layout {
    flex-direction: column;
    padding: 24px;
  }
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .cart-section {
    min-width: 0;
    margin-top: 32px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
} */


